.home__bg {
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.left_img {
    background: url('../assets/home_bg.jpg');
    background-size: cover;
    background-position: center center;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}
